.greenButton {
    background-color: rgb(110, 236, 110); /* Light green unhovered state */
    border: 3px solid green;
    border-radius: 10px;
    color: white;
    font-size: 50px; 
    padding: 36px 72px; /* Increase padding */
    transition: background-color 0.3s ease;
  }
  
  .greenButton:hover {
    background-color: green; /* Dark green hovered state */
  }
  
  .redButton {
    background-color: lightcoral; /* Light red unhovered state */
    border: 3px solid red;
    border-radius: 10px;
    color: white;
    font-size: 50px; 
    padding: 36px 72px;
    transition: background-color 0.3s ease;
  }
  
  .redButton:hover {
    background-color: darkred; /* Dark red hovered state */
  }
  